---
title: Talks
header: Talks
byline: 
layout: default
---
<h2>Tutorials</h2>
<ul>
  <li>
    <a href="https://function-space-tour.github.io/cpal/">
    <b>A Function Space Tour of Data Science</b>
    <br>
    Conference on Parsimony and Learning (CPAL). 2025.
    </a>
  </li>
</ul>

<h2>Recent Videos</h2>
<ul>
{% for member in site.data.talks.videos %}
  <li>
    <a href="{{ member.url }}">
    <b>{{ member.title }}</b>
    <br>
    {{member.venue}}. {{member.year}}.
    </a>
  </li>
{% endfor %}
</ul>

<!-- <h2>Invited Talks</h2>
<ul>
{% for member in site.data.talks.invited %}
  <li>
    <b>{{ member.title }}</b>.
    <br>
    {{member.series}}. {{member.venue}}. {{member.year}}.
  </li>
{% endfor %}
</ul>

<h2>Conference Talks</h2>
<ul>
{% for member in site.data.talks.conference_slim %}
  <li>
    <b>{{ member.conference }}</b>.
    <br>
    {{member.location}}. {{member.date}}.
  </li>
{% endfor %}
</ul>
 -->
